data/core/schemas/interactions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="interactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interaction_def" type="InteractionDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="InteractionDef">
    <xs:attribute name="interaction_id" type="xs:ID" use="required"/>
    <xs:attribute name="action_type" type="xs:string" use="required"/>
    <xs:attribute name="display_name" type="xs:string" use="required"/>
    <xs:attribute name="condition_set_id" type="xs:string" use="optional"/>
    <xs:attribute name="tool_id" type="xs:string" use="optional"/>
    <xs:attribute name="ui_hint" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>
