data/core/schemas/items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" type="ItemDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ItemDef">
    <xs:sequence>
      <xs:element name="category_tags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="item_id" type="xs:ID" use="required"/>
    <xs:attribute name="display_name" type="xs:string" use="required"/>
    <xs:attribute name="stack_limit" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="mass" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="decay_profile_id" type="xs:string" use="optional"/>
    <xs:attribute name="icon_tag" type="xs:string" use="optional"/>
    <xs:attribute name="prefab_tag" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>
