data/core/schemas/manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Root data manifest: load order of packs. -->
  <xs:element name="data_manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" type="xs:positiveInteger"/>
        <xs:element name="load_order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pack" type="PackRefDef" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mods_path" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PackRefDef">
    <xs:attribute name="pack_id" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="required" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>
</xs:schema>
