data/core/schemas/plant_groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="plant_groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="plant_group" type="PlantGroupDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PlantGroupDef">
    <xs:sequence>
      <xs:element name="plants">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="plant_ref" type="PlantRefDef" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="plant_group_id" type="xs:ID" use="required"/>
    <xs:attribute name="display_name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PlantRefDef">
    <xs:attribute name="plant_id" type="xs:string" use="required"/>
    <xs:attribute name="weight" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="role" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>
