data/core/schemas/points_of_interest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="points_of_interest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="poi" type="POIDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="POIDef">
    <xs:sequence>
      <xs:element name="placement" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="condition_set_id" type="xs:string" use="optional"/>
          <xs:attribute name="min_elevation" type="xs:decimal" use="optional"/>
          <xs:attribute name="max_elevation" type="xs:decimal" use="optional"/>
          <xs:attribute name="biome_ids" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="poi_id" type="xs:ID" use="required"/>
    <xs:attribute name="display_name" type="xs:string" use="required"/>
    <xs:attribute name="poi_type" type="xs:string" use="required"/>
    <xs:attribute name="radius_cells" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="building_id" type="xs:string" use="optional"/>
    <xs:attribute name="prefab_tag" type="xs:string" use="optional"/>
    <xs:attribute name="weight" type="xs:nonNegativeInteger" use="optional" default="1"/>
  </xs:complexType>
</xs:schema>
