data/core/schemas/scene_registry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="scene_registry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scene" type="SceneRefDef" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="script" type="ScriptRefDef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SceneRefDef">
    <xs:attribute name="scene_id" type="xs:ID" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ScriptRefDef">
    <xs:attribute name="script_id" type="xs:ID" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
