data/core/schemas/ui_assets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ui_assets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="asset" type="UIAssetDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UIAssetDef">
    <xs:attribute name="asset_id" type="xs:ID" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
