data/core/schemas/ui_strings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ui_strings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="string" type="UIStringDef" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="locale" type="xs:string" use="optional" default="en-GB"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UIStringDef">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="string_id" type="xs:ID" use="required"/>
        <xs:attribute name="context" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
