data/core/schemas/world_gen_pipelines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="world_gen_pipelines">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pipeline" type="PipelineDef" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PipelineDef">
    <xs:sequence>
      <xs:element name="stage" type="StageRefDef" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="pipeline_id" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="StageRefDef">
    <xs:attribute name="ref" type="xs:string" use="required"/>
    <xs:attribute name="optional" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
</xs:schema>
